@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-info{
    background: #F4FAFD;
}
.register-row{
    background-color:#289BDE ;
}
@media only screen and (max-width: 575px) {
    
    .course-img{
        width: 100% ;
    }
    .course-img img{
        width: 100% ;
    }



}